---
layout: base.njk
---

<article>
  <header>
    <div class="idea-meta">
      {% if date %}<p class="idea-date">{{ date | date }}</p>{% endif %}
    </div>
  </header>
  {{ content | safe }}
</article>

<div class="idea-nav">
  <a href="/ideas/">&larr; Back to all ideas</a>
</div> 