---
layout: base.njk
---

<article>
  <header>
    <p class="post-date">{{ date | date }}</p>
  </header>
  {{ content | safe }}
</article>

<div class="post-nav">
  <a href="/posts/">&larr; Back to all posts</a>
</div> 