:root {
  --bg-color: #2E3440;
  --text-color: #ECEEF4;
  --link-color: #81A1C1;
  --border-color: #333;
  --muted-color: #777;
  --code-bg-color: #1e1e1e;
  --code-border-color: #444;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.text-center {
  text-align: center;
}

a {
  color: var(--link-color);
}

nav {
  margin-bottom: 2rem;
}

nav a {
  margin-right: 1rem;
}

main {
  margin-bottom: 2rem;
}

footer {
  font-size: .75rem;
  line-height: 1.17;
}

.diam {
  white-space: pre;
  line-height: 1.17;
  font-size: .75rem;
}

.site-tagline {
  font-size: .75rem;
}

.divider {
  white-space: pre;
  line-height: 1.17;
  font-size: .75rem;
  text-align: center;
  margin: 40px 0;
}

.home-list ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.home-list li {
  margin-bottom: 1rem;
}