---
layout: base.njk
title: Projects
permalink: /projects/
---

<ul class="project-list">
{% set projects = collections.projects %}
{% for project in projects %}
  <li>
    <div class="project-header">
      <a href="{{ project.url }}">{{ project.data.title }}</a>
      {% if project.data.status %}<span class="status-indicator status-{{ project.data.status | lower | replace(' ', '-') }}">{{ project.data.status }}</span>{% endif %}
    </div>
    {% if project.data.description %}<p class="project-description">{{ project.data.description }}</p>{% endif %}
  </li>
{% endfor %}
</ul> 